<h1>{{title}}</h1>

<form>
  <div class="form-group row">
    <label for="id" class="col-sm-2 col-form-label">ID</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="id" value="{{id}}">
    </div>
  </div>
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="name" value="{{name}}">
    </div>
  </div>
  <div class="form-group row">
    <label for="type" class="col-sm-2 col-form-label">Mime Type</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="type" value="{{type}}">
    </div>
  </div>
  <div class="form-group row">
    <label for="size" class="col-sm-2 col-form-label">Size</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="size" value="{{size}}">
    </div>
  </div>
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">View File</label>
    <div class="col-sm-10">
      <a href="{{url}}" target="_blank">Open </a>
    </div>
  </div>

</form>